.bg-custom-page {
    background-color: #606060;
}

.bg-custom-nav {
    background-color: #EBAE49;
}

.round-corners {
    border-radius: 43px;
}

@media screen {}

.container-fluid {
    position: relative;
}

.header-overlay {
    position: absolute;
    top: 110%;
    /* Adjust as needed */
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: #606060;
    /* Adjust opacity as needed */
    color: white;
    padding: 20px;
    z-index: 1;
    max-width: 100%;
    /* Adjust width as needed */
    text-align: center;

}

.header-overlay p {
    margin-bottom: 10px;
}

.about-header {
    opacity: .5;
}

.wp-block-image {
    box-sizing: border-box;
    width:424px;
    height:224px;
    max-width: 100%;
    vertical-align: bottom;
}

.container-custom {
    position: relative;
    text-align: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.header {
    position: relative;
    background-image: url('images/cropped-Section-1-pic-1-scaled-1.jpg');
    /* Specify the path to your image */
    background-size: cover;
    background-position: center;
    height: 300px;
    /* Adjust the height as needed */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust the alpha (opacity) value to control darkness */
}

.header-content {
    position: relative;
    text-align: center;
}

.studio {
    
    font-size: 30px ;
    
}

@media only screen and (max-width: 381px) {
    .wp-block-image{
        align-items: center;
        box-sizing: border-box;
        height: auto;
        width: 300px;
        height: 200px;
        padding-bottom: 35px;
    }
    .header{
        height: 100px;
    }
}
.studio-container{
}